config service 'pptpd'
	option 'enabled' '1'
	option "internet" '1'
	option "local_visit" '0'
	option 'localip' '192.168.3.1'
	option 'remoteip' '192.168.3.20-30'
	option 'mtu'	'1492'
	option 'mru'	'1492'
	option 'encrypt' '1'
	option 'debug'	 '1'
	option 'pap'	'1'
	option 'eap'	'1'
	option 'ms_chap' '1'
	option 'ms_chapv2' '1'
	option 'disable_lan' '1'
	option 'idle'	 '0'	
	option 'lcp_interval' '60'
	option 'lcp_fail_count' '3'

config 'login'
	option 'username' 'user'
	option 'password' '123456'
